<main>
    <section class="s1 container-fluid">
        <h1>Beach Sunset Bar</h1>
    </section>
    <section class="s2 container-fluid">
        <div class="div1 mx-auto my-5 "></div>
        <h2 class="text-center">Cocktails</h2>    
        <div class="div2  mx-auto my-5 "></div>
        <h2 class="text-center">Aperitivi</h2>     
        <div class="div3  mx-auto my-5 "></div>
        <h2 class="text-center">Analcolici</h2>     
    </section>
</main>

<footer class="shadow ">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-lg-3 mt-3   ">
                <address>
                  <h3 class="myh4f"  style="margin-top: 30px;">Contact</h3>
                  <a class="mymail" href="mailto:info@Epiccockatil.com"> info@epicocktail.com</a><br>
                  <p> +39 349345678</p>
                </address>
              </div>
              <div class="col-md-3 col-lg-3 mt-1 pt-1">
                <address>
                  <img src="../assets/images/logo_epicode.jpg" style="height: 50px; width: 150px;margin: 30px;border-radius: 30px;">
                  <p>via del Mojito 3<br><small>P.IVA 2345678</small></p>
                  <i class="fa fa-twitter" aria-hidden="true"></i><br>
                  <i class="fa fa-facebook-square" aria-hidden="true"></i><br>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <br>
                  <small>EpicCockail &trade;</small>
                </address>
              </div>
              <div class="col-md-3 col-lg-3 mt-3 pt-2">
                <address>
                  <h3 class="myh4f" style="margin-top: 30px;">Service</h3>
                  <p>Same-Day delivery<br>
                    
                    Mon - Fri: 11am - 10pm​<br>
                    Sat - Sun: 11am - 12am</p>
                </address>
              </div>
       
        </div>
      </div>
</footer>