.card {
    margin: 300px auto;
    background-color: #FBE1A9;
    border-radius: 30px;
}
.card-title {
    font-size: 2em;
    color: purple;
}
.card-text {

    color: rgb(3, 3, 134);
    font-size: 1.5em;
}